{% extends 'base/base.html' %}

{% block content %}
<div class="d-flex justify-content-between">
    <div class="col-md-4">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">+Доход
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link expense" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="true">-Расход
                </button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <form method="post" action="{% url 'add_income' %}">
                    {% csrf_token %}
                    {{ income_form.as_p }}
                    <div class="create-button"><input type="submit" value="Создать"></div>
                </form>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <form method="post" action="{% url 'add_expense' %}">
                    {% csrf_token %}
                    {{ expense_form.as_p }}
                    <div class="create-button">
                        <input type="submit" value="Создать">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 offset-md-2">
        <div class="col-md-4 offset-md-5">
            <p><u>Статистика</u></p>
            {#                <p>{% now 'M' %} {% now 'Y' %}</p>#}
            <p>Расходы за {{ year }} {{ month_name }}</p>
            <p style="font-size: 21px;">
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="month" value="{{ month_number|add:"-1" }}">
                <input type="hidden" name="year" value="{{ year }}">
                <input type="submit" value="←">
            </form>
            <p>{{ expense_per_month.total_expense }}</p>
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="month" value="{{ month_number|add:"1" }}">
                <input type="hidden" name="year" value="{{ year }}">
                <input type="submit" value="→">
            </form>
            </p>
        </div>
{% include 'base/pie.html' %}
    </div>
</div>
<div class="row mt-5">
    <div class="col-4 mt-3">
        <h4>Последние операции</h4>
        <table class="table table-striped mt-2">
            <tr>
                <th>Операция</th>
                <th>Дата</th>
                <th>Сумма</th>
            </tr>
            {% for operation in operations %}
                <tr>
                    <td>
                        {{ operation.comment }}
                        <br>
                        <p class="category">{{ operation.category.name }}</p>
                    </td>
                    <td>{{ operation.datetime|date:'d.m.Y' }}</td>
                    <td class="sum{% if operation.proxy_name == 'Expense' %}
                            expense
                        {% elif  operation.proxy_name == 'Income' %}
                        income
                        {% endif %}">
                        {% if operation.proxy_name == 'Expense' %}-{% else %}+{% endif %}
                        {{ operation.sum }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-5 offset-md-3">
            <hr>

            <div class="row ">
                <div class="col-sm-4 panel-pad-10">
                    <div class="panel panel-default">
                        <div class="panel-body"><strong>Категории</strong></div>
                    </div>
                </div>
                <div class="col-sm-4 panel-pad-10">
                    <div class="panel panel-default">
                        <div class="panel-body"></div>
                    </div>
                </div>
                <div class="col-sm-4 panel-pad-10">
                    <div class="panel panel-default">
                        <div class="panel-body"><strong>Сумма</strong></div>
                    </div>
                </div>
                {% for category in expense_per_category %}
                    <div class="col-sm-4 panel-pad-10">
                        <div class="panel panel-default">
                            <div class="panel-body">{{ category.category__name }}</div>
                        </div>
                    </div>
                    <div class="col-sm-4 panel-pad-10">
                        <div class="panel panel-default">
                            <div style="background-color: {{ category.category__color__color }}; margin-left:40px; width: 25px; height: 25px;" class="panel-body"></div>
                        </div>
                    </div>
                    <div class="col-sm-4 panel-pad-10">
                        <div class="panel panel-default">
                            <div class="panel-body">{{ category.common_sum }} руб.</div>
                        </div>
                    </div>
                {% endfor %}
            </div>

    </div>
</div>

{% endblock content %}
<div class="col offset-md-4"></div>